/* login.css */

body {
  background-color: #f5f5f5;
}

.container {
  margin-top: 80px;
}

.wrapper {
  max-width: 360px;
  padding: 40px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.form-signin {
  margin-top: 20px;
}

.form-signin-heading {
  text-align: center;
  margin-bottom: 30px;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #4e5d6c;
  border-radius: 5px;
  margin-bottom: 10px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.btn-block {
  margin-top: 20px;
  font-size: 16px;
}

.btn-primary {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:hover {
  background-color: #286090;
  border-color: #204d74;
}
